.backlog-card {
  display: flex;
  gap: 1rem;

  background-color: #1e1e1e;

  padding: 1rem;

  border-radius: 12px;

  margin-bottom: 1rem;

  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.backlog-card img {
  width: 120px;

  border-radius: 8px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content a {
  color: #7c5cff;

  font-weight: bold;

  text-decoration: none;
}